main {
    .section1 {
        background: $white1;
        display: grid;
        grid-template-columns: 50% 50%;
        // height: 540px;

        .s1-left-container {

            padding: 20px;

            .border {
                // border: 2px dashed $copper1;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgb(165, 113, 67)' stroke-width='2' stroke-dasharray='3' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
                min-height: 500px;

                .titre {
                    padding: 40px 0 30px;

                    h2 {
                        font-size: 2.5em;
                        font-weight: 500;
                        line-height: 0.5;
                    }

                    h3 {
                        font-size: 1.5em;
                    }

                }

                span {
                    img {
                        height: 40px;
                    }
                }

                p {
                    margin: 40px 12px 30px;
                    font-family: $font3;
                    font-size: 1.3em;
                }

                div {
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;

                    img {
                        height: 90px;
                        border-radius: 150px;
                        margin-bottom: 15px;
                    }

                    span {
                        font-family: $font3;
                        font-weight: 400;
                        font-size: 1.2em;
                        letter-spacing: 1px;

                    }

                    p {
                        display: block;
                        font-family: $font3;
                        text-transform: uppercase;
                        font-size: 0.9em;
                        font-weight: 600;
                        color: $grey2;
                        margin: 0;
                        padding-bottom: 20px;

                    }
                }
            }
        }

        .s1-right-container {
            // background: red;
            // background: url(../../img/store-01.jpg) center/cover no-repeat;
            // height: 540px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: -100px;
            }
        }

    }


    .section2 {

        position: relative;

        h2 {
            font-size: 2.5em;
            font-weight: 500;
            line-height: 0.5;
            margin: 80px 0 50px;
        }

        &>span {
            img {
                height: 40px;
            }
        }

        ul {
            width: 50%;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;

            li {
                color: $white1;
                font-family: $font3;
                font-size: 1.3em;
                position: relative;
                cursor: pointer;
                transition: 0.2s;

                &:hover li:not(:hover) {
                    background: none;
                }


                &:first-child:after {
                    content: "";
                    position: absolute;
                    background: $white1;
                    left: 0;
                    bottom: -15px;
                    height: 1px;
                    width: 100%;
                }



                &:hover:after {
                    content: "";
                    position: absolute;
                    background: $white1;
                    left: 0;
                    bottom: -15px;
                    height: 1px;
                    width: 100%;
                }


            }
        }

        .img-bg {
            background: url(/asset/img/bg-menu-01.jpg) center/cover no-repeat;
            height: 750px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -150px;
        }



        .menu {
            background: $white1;
            width: 60%;
            margin: 60px auto;
            position: relative;
            padding: 10px 0;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25% 25%;

            &::before {
                content: "";
                position: absolute;
                background: $copper1;
                height: 5px;
                width: 100%;
                top: 0;
                left: 0;
            }

            .dishe {
                // display: flex;
                align-items: center;
                padding: 50px 20px;
                display: grid;
                grid-template-columns: 22% 61% 17%;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    background-image: linear-gradient(90deg, $grey2, $grey2 75%, transparent 75%, transparent 100%);
                    background-size: 5px 1px;
                    // background: $grey2;
                    height: 1px;
                    width: 420px;
                    transform: translateX(-50%);
                    bottom: 0;
                    left: 50%;

                    @media screen and (max-width:1480px) {
                        width: 350px;
                    }

                    @media screen and (max-width:1300px) {
                        width: 280px;
                    }

                    @media screen and (max-width:1000px) {
                        width: 230px;
                    }
                }

                img {
                    border-radius: 150px;
                    width: 100%;
                }

                .description {
                    text-align: left;
                    padding: 0 15px;

                    h4 {
                        font-family: $font3;
                        text-transform: uppercase;
                        font-size: 1em;
                        font-weight: 600;
                        padding-bottom: 5px;

                    }

                    p {
                        font-family: $font3;
                        font-size: 1.3em;
                    }
                }

                .price {
                    font-size: 1.3em;
                }
            }
        }
    }

    .booking {
        margin: 250px auto 0;
        width: 70%;
        display: grid;
        grid-template-columns: 30% 1fr;

        .booking-left-container {
            background: black;
            padding: 30px;

            .border {

                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='4' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");

                .title {
                    padding: 40px 0 40px;

                    h2 {
                        font-size: 2.8em;
                        font-weight: 500;
                        line-height: 0.5;
                    }

                    h3 {
                        color: whitesmoke;
                        font-size: 1.7em;
                    }
                }

                img {
                    height: 35px;
                }

                .day {

                    padding: 40px 0 0;

                    h3 {
                        color: $copper1;
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: 1.4em;
                    }

                    p {
                        color: $white1;
                        font-family: $font3;
                    }
                }

                .phone-number {
                    color: $copper1;
                    display: block;
                    font-size: 1.5em;
                    padding: 40px 0 40px;
                }
            }
        }

        .booking-right-container {
            background: $white1;

            .container {
                .title {
                    margin: 90px 0 0;

                    h2 {
                        font-weight: 500;
                        font-size: 3.3em;
                    }

                    h3 {
                        font-size: 2.2em;
                        line-height: 0.5;
                        color: $black2;
                    }

                }

            }

            img {
                height: 35px;
                margin: 50px 0 50px;

            }

            form {
                display: grid;
                width: 70%;
                margin: 0 auto;
                grid-template-columns: 33% 33% 34%;
                grid-template-rows: 50px 50px 50px;
                row-gap: 20px;
                column-gap: 5px;
                align-items: center;
                text-align: left;

                div {
                    // padding: 0 10px;
                    width: 90%;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        background: $grey2;
                        height: 1px;
                        width: 100%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -15px;
                    }
                }

                #people {
                    background: transparent;
                    border: none;
                    width: 100%;
                    font-size: 1em;

                    &:focus {
                        outline: none;
                    }


                    option {
                        background: $white1;
                        color: $grey4;


                    }
                }



                #booking-day {
                    background: none;
                    width: 100%;
                    font-size: 1.3em;
                }

                #booking-time {
                    width: 100%;
                    background: transparent;
                    font-size: 1.3em;
                }

                input {
                    background: transparent;
                    font-size: 1em;
                }

                button {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    border: none;
                    color: $white1;
                    background: $black2;
                    // max-width: 170px;
                    padding: 20px 50px;
                    border-radius: 50px;
                    font-size: 1.1em;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    font-weight: 540;
                    margin: 120px auto 50px;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0px 0px 5px black;
                        transform: scale(1.05);
                    }

                }
            }

        }
    }
}